body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.hero-section {
  background-color: #07332f;
  min-height: 100vh;
}

.hero-body {
  min-height: calc(100vh - 90px);
  padding-top: 110px;
  padding-bottom: 60px;
}

.hero-sub {
  color: rgba(255, 255, 255, 0.5);
  max-width: 450px;
}

/* Navbar links */

.active-link {
  color: #ffffff;
  font-weight: 700;
}

.muted-link {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.muted-link:hover,
.muted-link:focus {
  color: #ffffff;
}

.btn-custom {
  background-color: #f7a582;
  color: #ffffff;
  border: none;
  transition: background-color 0.25s ease;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #e5906d;
  color: #ffffff;
}

.vec {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.vec-circle {
  top: 12%;
  right: 17%;
  width: 280px;
  opacity: 0.99;
}
.vec-pill-1 {
  bottom: 18%;
  left: 45%;
  width: 50px;
  opacity: 0.8;
}
.vec-pill-2 {
  top: 18%;
  left: 41%;
  width: 220px;
  opacity: 0.8;
}

.gallery-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 520px;
  z-index: 5;
}

.half-pill {
  top: 20px;
  left: -20px;
  width: 180px;
  z-index: 0;
  opacity: 0.7;
}

.dot-grid {
  position: absolute;
  bottom: 140px;
  left: -95px;
  width: 110px;
  height: 90px;
  z-index: 0;
  opacity: 0.8;
  background-image: radial-gradient(circle, #ffffff 1.5px, transparent 1.5px);
  background-size: 12px 12px;
}

.doc-frame {
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.28);
}

.doc-frame .img-mask {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.doc-frame .img-mask img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transform: translate(-50%, -50%);
}

.doc-1 {
  width: 290px;
  height: 278px;
  top: 55px;
  left: -50px;
  z-index: 2;
}

.doc-2 {
  width: 305px;
  height: 315px;
  bottom: 25px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 3;
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.35);
}

.doc-3 {
  width: 278px;
  height: 265px;
  top: 18px;
  right: -20px;
  z-index: 4;
}
/* our services */

.services-section {
  background-color: #ffffff;
}

.services-img-wrap {
  border-radius: 12px;
  overflow: hidden;
  height: 880px;
}

.services-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.service-para {
  line-height: 1.5;
  width: 80%;
}

.service-tabs-container {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.service-tab {
  flex: 1;
  background: #ffffff;
  border: none;
  border-right: 1px solid #e0e0e0;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-tab:last-child {
  border-right: none;
}

.service-tab.active {
  background-color: #f7a582;
  color: #ffffff;
}

/* Right Image (Teeth) */
.service-detail__img-wrap {
  border-radius: 12px;
  overflow: hidden;
  height: 280px;
  width: 100%;
}

.service-detail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-outline-custom {
  background-color: transparent;
  color: #f7a582;
  border: 2px solid #f7a582;
  transition: all 0.3s ease;
}

.btn-outline-custom:hover {
  background-color: #f7a582;
  color: #ffffff;
}

/* info */
.bg-dark-green {
  background-color: #07332f;
}

.bg-orange {
  background-color: #f7a582;
}

.info-icon svg {
  width: 42px;
  height: 42px;
  stroke: #ffffff;
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-top: -5px;
}

.info-card p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/* Testimonial */
.slider-wrapper {
  padding: 0 20px;
}

.testimonial-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}

.active-testimonial,
.testimonial-card:hover {
  border: 1px solid #00a0e3;
}

.patient-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f7a582;
  padding: 3px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev-btn {
  left: 48px;
  background-color: #ffffff;
  border: 1px solid #f7a582;
  color: #f7a582;
}
.prev-btn:hover {
  background-color: #fcfcfc;
}

.next-btn {
  right: 50px;
  background-color: #f7a582;
  border: none;
  color: #ffffff;
}
.next-btn:hover {
  background-color: #e5906d;
}

/* Exp doc */
.expert-doctors-section {
  background-color: #fdfdfd;
}

.doctor-card {
  border: 1px solid #eaeaea;
  transition: all 0.3s ease;
}

.doctor-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-color: #f7a582;
}

.text-warning {
  color: #f28b0f;
}

/* testimonial */

.expert-doctors-section {
  background-color: #fdfdfd;
}

.doctor-card {
  border: 1px solid #eaeaea;
  transition: all 0.3s ease;
}

.doctor-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-color: #f7a582;
}

.text-warning {
  color: #f28b0f;
}

/* form */
/* .form-control-custom {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 15px;
}

.form-shrink-wrap {
  padding: 80px 10% !important;
}

.form-control-custom::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

select.form-control-custom option {
  background-color: #07332f;
  color: #ffffff;
}

.form-control-custom:focus {
  box-shadow: none;
  border-color: #f7a582;
  background-color: rgba(255, 255, 255, 0.12);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.6;
  cursor: pointer;
} */
/* 1. Forces the main container to be dark green */
    .form-shrink-wrap {
      background-color: #07332f !important;
      padding: 80px 10% !important;
    }

    /* 2. Styles the input fields */
    .custom-dark-input {
      background-color: #0b413c !important; 
      border: none !important;              
      color: #ffffff !important;
      padding: 14px 20px;
      font-size: 15px;
      box-shadow: none !important;
      font-weight: 400 !important; /* Forces all inputs to be normal weight */
    }
    
    .custom-dark-input::placeholder {
      color: rgba(255, 255, 255, 0.7) !important; 
    }
    
    .custom-dark-input:focus {
      background-color: #0d4a44 !important;
    }
    
    /* 3. Fixes the Select Dropdown "Placeholder" color */
    select.custom-dark-input:invalid {
      color: rgba(255, 255, 255, 0.7) !important; /* Faded color before selection */
    }
    select.custom-dark-input option {
      color: #ffffff !important; /* Turns white in the dropdown menu */
    }

    /* 4. Hides the native browser select arrow completely */
    .custom-select-hide-icon {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    
    /* 5. Expands the invisible calendar clicker over the whole field */
    .custom-date-hide-icon::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

/* footer */
.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #6c757d;
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f7a582;
}

.footer-hours li {
  font-size: 15px;
}
/*  doctor page */
/*  doctor page */

.page-banner {
  background-color: #07332f;
  min-height: 320px;
  display: flex;
  align-items: center;
}

.hover-white {
  transition: color 0.3s ease;
}
.hover-white:hover {
  color: #ffffff !important;
}

.vec-banner-half {
  position: absolute;
  bottom: -20px;
  left: 5%;
  transform: rotate(180deg);
  height: 170px;
  opacity: 0.8;
  z-index: 0;
}

.vec-banner-pill {
  position: absolute;
  bottom: 30px;
  right: 8%;
  transform: rotate(12deg);
  height: 200px;
  opacity: 0.8;
  z-index: 0;
}
/* doctor name */
.gallery-thumb {
    width: 65px;
    height: 65px;
}
/* doc information */
.profile-custom-tabs {
    border-bottom: none;
}

.profile-custom-tabs .nav-link {
    color: #6c757d;       
    border: none;
    background: transparent;
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease;
}

.profile-custom-tabs .nav-link:hover {
    color: #f7a582;      
}

.profile-custom-tabs .nav-link.active {
    background-color: #f7a582 !important; 
    color: #ffffff !important;          
    border: none;
}

.profile-list {
    padding-left: 1.2rem;
}

.profile-list li {
    font-size: 14.5px;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.profile-list li:last-child {
    margin-bottom: 0;
}

/* Style the bullet points themselves */
.profile-list li::marker {
    color: #495057; 
}

/* Media Queries */
@media (max-width: 1199px) {
  .gallery-wrapper {
    max-width: 440px;
    height: 480px;
  }
  .doc-1 {
    width: 192px;
    height: 247px;
    left: 10px;
  }
  .doc-2 {
    width: 216px;
    height: 278px;
  }
  .doc-3 {
    width: 184px;
    height: 237px;
    right: 13px;
  }
  .vec {
    display: none;
  }
  .dot-grid {
    left: -49px;
  }
}

@media (max-width: 991px) {
  .hero-body {
    min-height: auto;
    padding-top: 100px;
  }
  .gallery-wrapper {
    max-width: 400px;
    height: 425px;
  }
  .half-pill {
    left: -10px;
    width: 90px;
  }
  .doc-1 {
    width: 170px;
    height: 220px;
    top: 40px;
  }
  .doc-2 {
    width: 192px;
    height: 250px;
    bottom: 20px;
  }
  .doc-3 {
    width: 160px;
    height: 206px;
    top: 10px;
  }

  .vec {
    display: block;
  }

  .vec-circle {
    display: none;
  }
  /* services */
  .services-img-wrap {
    height: 600px;
  }

  .service-para {
    width: 100%;
  }
    /* testimonial */
    .slider-wrapper {
      padding: 0 40px;
    }
    .prev-btn {
      left: 20px;
      width: 45px;
      height: 45px;
    }
    .next-btn {
      right: 20px;
      width: 45px;
      height: 45px;
    }
    .footer-section {
      text-align: center;
    }

    .footer-logo {
      display: flex;
      justify-content: center;
    }

    .footer-links,
    .footer-hours {
      padding-bottom: 20px;
    }

    /* doctor page */
    /* doctor page */
    .page-banner {
      min-height: 220px;
      padding-top: 80px !important;
    }

    .vec-banner-half {
      bottom: auto;
      top: -10px;
      left: -20px;
      height: 120px;
      transform: rotate(360deg);
    }

    .vec-banner-pill {
      bottom: 30px;
        right: 20px;
        height: 120px;
    }

  
}

@media (max-width: 768px) {
    .profile-custom-tabs {
        flex-direction: column;
    }
    .profile-custom-tabs .nav-link {
        border-radius: 8px; 
        margin-bottom: 5px;
    }
    .profile-custom-tabs .nav-link.active {
        border-radius: 8px;
    }
}

@media (max-width: 575px) {
  .gallery-wrapper {
    max-width: 340px;
    height: 365px;
  }
  .dot-grid {
    display: block;
    bottom: 100px;
  }
  .doc-1 {
    width: 144px;
    height: 187px;
    top: 35px;
  }
  .doc-2 {
    width: 164px;
    height: 214px;
    bottom: 15px;
  }
  .doc-3 {
    width: 136px;
    height: 176px;
    top: 8px;
  }
  .gallery-thumb {
       
        width: calc(33.333% - 0.5rem); 
        aspect-ratio: 1/1; 
        height: auto;
    }
}
